<div class="container text-center">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.
      It's built with default Bootstrap components and utilities with little customization.</p>
  </div>
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <app-card title="Free" li1="10 users included" li2="2 GB of storage
      " li3="Email support
      " li4="Help center access
      " btnTitle="Sign Up for Free" btnClass="btn-outline-primary"></app-card>
      <app-card price="15" title="Pro" li1="20 users included
      " li2="10 GB of storage
      " li3="Priority email support
      " li4="Help center access
      " btnTitle="Get Started"></app-card>
      <app-card price="29" title="Enterprise" li1="30 users included
      " li2="15 GB of storage
      " li3="Phone and email support
      " li4="Help center access
      " btnTitle="Contact Us"></app-card>
    </div>
  </div>
</div>